* {
  box-sizing: border-box;
  font-family: 'Apple SD Gothic Neo', 'Pretendard', sans-serif;
}

body {
  margin: 0;
  background: #000;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background: #cbb1a4;
  width: 390px;      
  height: 844px;     
  flex-direction: column;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
}

.header {
  color: #fff;
  padding: 50px 30px 20px 0px;
  text-align: left;
  font-weight: 600;
  line-height: 1.4;
}

.sticker{
  margin-left: 200px;
  margin-top: -350px;
  position: absolute;
  z-index: 2;
}

.card-background {
  border-radius: 30px;
  width: 100%;
  margin-top: 200px;
  padding: 30px 30px 30px 30px;
  flex: 1;
  position: relative;
  margin-bottom: -10px;
}

.card {
  background: #fff;
  border-radius: 30px;
  width: 100%;
  padding: 30px 24px 30px 24px;
  margin-bottom: 10px;
  position: relative;
  flex: 1;
}

.from-label {
  display: block;         
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 8px;
}

.from-input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  resize: none;
  font-size: 18px;
  background: transparent;
}

.letter-input {
  width: 100%;
  height: 310px;
  border: none;
  outline: none;
  resize: none;
  font-size: 18px;
  background: transparent;
}

.divider {
  height: 1px;
  background-color: #ccc;
  margin-top: 6px;
}

textarea {
  width: 100%;
  height: 260px;
  border: none;
  resize: none;
  margin-top: 20px;
  font-size: 25px;
  line-height: 1.4;
  outline: none;
}

.count {
  position: absolute;
  text-align: right;
  bottom: 16px;
  right: 20px;
  font-size: 12px;
  color: #666;
}

.buttons {
  display: flex;
  gap: 15px;
  padding: 15px 0px 0px 0px;
}

.cancel {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  height: 52px;
  font-size: 19px;
}

.app .submit {
  font-size: 20px;
  height: 52px;
  width: 250px;
}

.app.strawberry .card-background{
  background: #fde6ef;
}

.app.strawberry .submit {
  background: #cbb1a4;
  color: #fff;
}


.app.shineMuscat .card-background{
  background: #BFF7BB;
}

.app.shineMuscat .submit {
  background: #FF8A80;
  color: #fff;
}


.app.Dubai .card-background{
  background: #5E4B4B;
}

.app.Dubai .card {
  background: #B5C475;
}


.app.Dubai .submit {
  background: #B5C475;
  color: #fff;
}

.app.blueberry .card-background{
  background: #4F5A9C;
}
.app.blueberry .submit {
  background: #D6D9FF;
  color: #fff;
}


.app.chocolate .card-background{
  background: #4D2222;
}

.app.chocolate .submit {
  background: #B19487;
  color: #fff;
}


.app.cream .card-background{
  background: #FCE9B6;
}

.app.cream .submit {
  background: #FBDB82;
  color: #fff;
}

.app.cream .card {
  background: #fffce2;
}